.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  border-radius: 50%;
}
.mainImage {
  margin-top: 3rem;
  max-height: 30vh;
  width: 100% !important;
  max-width: 80vw !important;
}
.content {
  text-align: center;
}
.title {
  line-height: 1.15;
  font-size: var(--font-size-heading);
  font-weight: bold;
  text-align: center;
}
.loginButton {
  margin-top: 2rem;
  font-size: 1.25rem !important;
  color: #000 !important;
  border-radius: 8px !important;
}
